.wrapper {
  width: 100%;
  background-color: #0f172a; 
}

.hero {
  position: sticky;
  top:0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem 1rem;
  overflow: hidden;
}

.animationBuffer {
  height:10vh;
}

.content{
  display: flex;
  align-items:center;
  justify-content:center;
  gap:8rem;
  width:80%;
}

.hero h1 {
  flex:1;
  font-size: clamp(3rem, 10vw, 6rem);
  font-weight: 800;
  line-height: 1;
  margin-bottom: 1.5rem;
  color: #e1e1e1;
  letter-spacing: -0.02em;
  margin-top:43rem;
  text-align:left;
  padding:10px;
}

.parrafo {
  font-family:Roboto-Light;
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  text-align:left;
  padding: 1rem;
}


.banoContainer{
 width: 500px;
 height:300px;
 border: 3px solid #b2113bff;
 margin-top:43rem;
}

.banoImg {
  width:100%;
  object-fit: cover;
}


