.wrapper {
  width: 100%;
  background-color: #121212; 
}
 
/*.hero {
  position: sticky;
  top:0;
  padding: 2rem 2rem 2rem 8rem; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}*/

.containerGh{
  margin-top:30rem;
}

.hero{
  position: relative;
  min-height: 100vh;
  overflow:hidden;
  z-index: 1;

}

.animationBuffer {
  height:10vh;
}

.content{
  display: flex;
  align-items:center;
  justify-content:center;
  gap:4rem;
  width:80%;
  min-height:100%;
  margin-top:10rem;
}

.textGroup{
  display:flex;
  flex-direction:column;
  gap:1px;
}

.title {
  flex:1;
  font-size: clamp(1rem, 10vw, 4rem);
  font-weight: 800;
  line-height: 1;
  margin-bottom: 1.5rem;
  color: #e1e1e1;
  letter-spacing: -0.02em;
  text-align:left;
  padding:1rem;
}

.titleGradient{
  background: linear-gradient(135deg, #b2113bff 0%, grey 40%, #b2113bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.parrafo {
  font-family:Roboto-Light;
  font-size: clamp(0.9rem, 2vw, 1.5rem);
  text-align:left;
  padding: 1rem;
  margin-bottom:10px;
  margin-top:0;
}

/*CTA BTN*/
.cta{
  display: flex;
  gap: 0.6rem;
  padding:1rem;
}
.btn{
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 9px;
  font-weight: 600;
  transition: all 0.3s;
  width:30%;
}

.btnContact {
  background: linear-gradient(135deg, #b2b2b280 0%, #b2113bff 100%);
  color: #fff;
  border: 1px solid #b2113bff;
}

.btnContact:hover {
  transform: translateY(-1px);
  background:none;
  box-shadow: 0 3px 2px #b2113bff;
}

.btnProject{
  background:none;
  color: #fff;
  backdrop-filter: blur(10px);
  border: 1px solid #b2113bff;
}

.btnProject:hover {
  background:none;
  box-shadow: 0 3px 2px #b2113bff;
}

/*IMG SECTION*/
.pulidoraContainer{
  width: 50rem;
  height:22rem;
  margin-top:41rem;
}

.pulidoraImg {
  width:100%;
  height:100%;
  object-fit: fit-content;
}


