.overlay {
  position: fixed;
  inset: 0;
  background-color: #121212; 
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logoContainer {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 102;
}

.svg {
  width: 100%;
  height: 100%;
  animation: girar 10s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p{
  margin-Top:10rem;
  color:#888;
}
