#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing:border-box;
  overflow-x: hidden;
}

.appWrapper {
  background-color: var(--bgColor); 
  min-height: 100vh;
  width:100%;
}

.spacer {
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: #e1e1e1;
}

#projects {
  height: auto; 
  display: block; 
}

.loopContainer{
  width:100%;
  height:50%;
  padding-top:5rem;
  display: flex;
  flex-direction:column;
  align-items:center;
}

.title-loop{
  padding:10px;
  font-size:2.5rem;
  color:var(--perl);
}
