#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  box-sizing:border-box;
  overflow-x: hidden;
}

.appWrapper {
  background-color: #121212; 
  min-height: 100vh;
  min-width: 1280px;
}

.spacer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e1e1e1;
}
