#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing:border-box;
}
.appWrapper {
  background-color: red; /* Fondo oscuro base */
  min-height: 100vh;
}

.spacer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
