#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing:border-box;
  overflow-x: hidden;
}

.appWrapper {
  background-color: #121212; 
  min-height: 100vh;
  width:100%;
}

.spacer {
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: #e1e1e1;
}

#proyectos {
  height: auto; 
  display: block; 
}
