@tailwind components;
@tailwind utilities;
:root {
  font-family: 'Montserrat-Black';
  line-height: 1.5;
  color-scheme: light dark;
  color: #e1e1e1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: #b2113b;
  --bgColor: #121212;
  --perl: #f7f9f9;
  --grey: #b2b2b2ff;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Assets/Fonts/Montserrat-Thin.woff2') format('woff2-variation');
  font-weight:100 900;
}

@font-face {
  font-family: 'Montserrat-ThinItalic';
  src: url('./Assets/Fonts/Montserrat-ThinItalic.woff2') format('woff2-variation');
  font-weight:100 900;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('./Assets/Fonts/Montserrat-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('./Assets/Fonts/RobotoCondensed-Light.woff2') format('woff2');
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: Montserrat-Black;
  font-weight: 800;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
