:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: #e1e1e1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: #b2113b;
  --bgColor: #121212;
  --perl: #f7f9f9;
  --grey: #b2b2b2ff;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height:100vh;
  background:var(--background);
  scroll-behavior: smooth;
}

a, ul{
  text-decoration:none;
  list-style: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family:'Montserrat';
  font-weight: 900;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
